.linesup{
  .container{
    padding: 5rem 0.3rem 0rem 0.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    &__presentation{
      &__title{
        margin: 1rem 0rem;
      }
      &__content{
        margin: 2rem 0rem;
        font-size: 1.1rem;
      }
    }
    &__box{
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      &__card{
        border-radius: 20px;
        border: solid 2px yellow;
        margin: 1rem 0rem;
        position: relative;
        height: 250px;
        &__image{
          border-radius: 20px;
          width: 100%;
          height: 100%;
          background-image: f;
        }
        &__title{
          font-size: 1.2rem;
          font-weight: bold;
          bottom: 20px;
          left: 20px;
          position: absolute;
        }
        &__status{
          font-size: 1.2rem;
          font-weight: bold;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }
}