.news{
  height: 100%;
  padding-top: 6rem;
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    margin: 0rem 1rem;
    padding: 1rem 0.5rem;
    &__presentation{
      color: white;
      text-align: center;
      &__title{
        padding: 1rem;
        text-transform: uppercase;
      }
      &__nav{

        display: flex;
        justify-content: space-around;
        padding: 0.5rem;
        &__item{
          background-color: $yellow;
          color: $dark-grey;
          font-weight: bold;
          padding: 0.5rem;
          border-radius: 10px;
        }
      }
    }
    &__news{
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.3rem;
        &__card{
          border-radius: 20px;
          border: solid 1px $yellow;
          margin: 0 0 1rem 0;
          background-color: #212121;
          img{
            border-radius: 20px 20px 0 0;
            height: 250px;
            width: 100%;
          }
          &__title{
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 1rem;
          }
          &__date{
            color: white;
            text-align: center;
            font-style: italic;
            padding: 0rem 0.5rem 1rem 0.5rem;
          }
        }
      }
    }
  }
}