.joinus{
  height: 100vh;
  width: 100vw;
  .container{
    height: 100%;
    width: 100%;
    padding: 5rem 1rem 0rem 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__title{
      padding-top: 2rem;
      font-size: 2rem;
      font-weight: bold;
    }
    &__discord{
      height: 100%;
      width: 100%;
      margin-top: 2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      font-size: 5rem;
    }
  }
}