.home {
  height: 100%;
  padding-top: 6rem;
  .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    margin: 0rem 1rem;
    padding: 1rem 0.5rem;
    &__presentation{
      background-color: $dark-grey;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      @include media('>mid'){
        width: 100%;
        height: 100%;
        border: solid 2px yellow;
      };
      img{
        display: block;
        height: 100%;
        width: 100%;
        @include media('>mid'){
          object-fit: cover;
        };
      }
      &__content{
        position: absolute;
        bottom: 0;
        background-color: #49494983;
        width: 100%;
        height: 30%;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        padding: 0.5rem;
        text-align: center;
        @include media('>mid'){
          height: 30%;
          font-size: 3rem;
          text-align: center;
        };
      }
    }
    &__news{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      width: 100%;
      @include media('>mid'){
        width: 100%;
      };
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem;
        &::-webkit-scrollbar{
          display: none;
        }
        &__card{
          min-height: 100%;
          min-width: 100%;
          margin: 0.2rem;
          border: solid 3px $yellow;
          border-radius: 20px;
          position: relative;
          @include media('>mid'){
            height: 500px;
          };
          &:first-child{
            margin-left: 0rem;
          }
          &__image{
            height: 100%;
            width: 100%;
            border-radius: 20px;
            @include media('>mid'){
              
            };
          }
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            @include media('>mid'){
            };
          }
          &__text{
            position: absolute;
            bottom: 0;
            background-color: #494949c9;
            width: 100%;
            height: 20%;
            font-size: 1.1rem;
            font-weight: bold;
            color: white;
            padding: 0.5rem;
            border-radius: 0 0 20px 20px;
            @include media('>mid'){
            
            };
            &__title{
              text-align: center;
              font-size: 1.2rem;
              font-weight: bold;
              text-transform: uppercase;
              @include media('>mid'){
                font-size: 3rem;
              };
            }
            &__section{
              font-style: italic;
              text-align: center;
              margin: 0.3rem;
              @include media('>mid'){
                font-size: 2rem;
              };
            }
          } 
        }
      }
      &__more{
        @include media('>mid'){
        };
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
          margin-bottom: 0.3rem;
          margin-right: 0.3rem;
          @include media('>mid'){
            font-size: 1.3rem;
          };
        }
      }
    }
    &__linesup{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      width: 100%;
      flex-direction: column;
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        display: flex;
        margin: 1rem 0rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar{
          display: none;
        }
        &__card{
          min-height: 100%;
          min-width: 100%;
          margin: 0.2rem;
          border: solid 3px $yellow;
          border-radius: 20px;
          scroll-snap-align: start;
          &:first-child{
            margin-left: 0rem;
          }
          &__image{
            height: 100%;
            width: 100%; 
          }
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
      &__more{
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
          margin-bottom: 0.3rem;
          margin-right: 0.3rem;
          @include media('>mid'){
            font-size: 1.3rem;
          };
        }
      }
    }
    &__stream{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      width: 100%;
      height: 100%;
      @include media('>mid'){
        width: 100%;
      };
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        @include media('>large'){
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        };
        &__card{
          height: 350px;
          width: 100%;
          margin: 0.5rem;
          @include media('>large'){
            width: 40%;
          };
        }
      }
      &__more{
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
          margin-bottom: 0.3rem;
          margin-right: 0.3rem;
          @include media('>mid'){
            font-size: 1.3rem;
          };
        }
      }
    }
  }
}