.home {
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $light-grey;
    padding: 1rem;
    &__presentation{
      margin: 5rem 1rem 1rem 1rem;
      background-color: $dark-grey;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      img{
        display: block;
        height: 300px;
        width: 100%;
      }
      &__content{
        position: absolute;
        bottom: 0;
        background-color: #49494983;
        width: 100%;
        height: 30%;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        padding: 0.5rem;
      }
    }
    &__news{
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
      }
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__card{
          margin: 0 0 1rem 0;
          background-color: #212121;
          -webkit-box-shadow: 5px 5px 15px 5px #212121; 
          box-shadow: 5px 5px 15px 5px #212121;
          img{
            height: 250px;
            width: 100%;
          }
          &__title{
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 1rem;
          }
          &__date{
            color: white;
            text-align: center;
            font-style: italic;
            padding: 0rem 0.5rem 1rem 0.5rem;
          }
        }
      }
    }
    &__linesup{
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
      }
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &__card{
          margin: 0 0 1rem 0;
          background-color: #212121;
          -webkit-box-shadow: 5px 5px 15px 5px #212121; 
          box-shadow: 5px 5px 15px 5px #212121;
          img{
            height: 250px;
            width: 100%;
          }
        }
      }
    }
    &__stream{
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        a{
          color: white;
          text-decoration: none;
        }
        &__card{
          margin: 0 0 1rem 0;
          background-color: #212121;
          -webkit-box-shadow: 5px 5px 15px 5px #212121; 
          box-shadow: 5px 5px 15px 5px #212121;
          position: relative;
          img{
            height: 250px;
            width: 100%;
          }
          &__title{
            font-weight: bold;
            font-size: 1.3rem;
            color: white;
            padding: 0.5rem;
            background-color: #49494983;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}