.home {
  height: 100%;
  padding-top: 6rem;
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    margin: 0rem 1rem;
    padding: 1rem 0.5rem;
    &__presentation{
      background-color: $dark-grey;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      @include media('>mid'){
        width: 100%;
        height: 100%;
      };
      img{
        display: block;
        height: 300px;
        width: 100%;
        @include media('>mid'){
          object-fit: cover;
        };
      }
      &__content{
        position: absolute;
        bottom: 0;
        background-color: #49494983;
        width: 100%;
        height: 30%;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        padding: 0.5rem;
        @include media('>mid'){
          font-size: 1.5rem;
        };
      }
    }
    &__news{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      @include media('>mid'){
        width: 100%;
      };
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.3rem;
        &__card{
          border-radius: 20px;
          border: solid 1px $yellow;
          margin: 0 0 1rem 0;
          background-color: #212121;
          img{
            border-radius: 20px 20px 0 0;
            height: 250px;
            width: 100%;
            @include media('>mid'){
              object-fit: cover;
            };
          }
          &__title{
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 1rem;
          }
          &__date{
            color: white;
            text-align: center;
            font-style: italic;
            padding: 0rem 0.5rem 1rem 0.5rem;
          }
        }
      }
      &__more{
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
        }
      }
    }
    &__linesup{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      width: 100%;
      flex-direction: column;
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        display: flex;
        scroll-behavior: smooth;
        width: 100%;
        padding: 0.3rem;
        overflow: scroll;
        &::-webkit-scrollbar{
          display:none;
        }
        &__card{
          width: 325px;
          height: 250px;
          margin: 0.2rem;
          border: solid 1px $yellow;
          border-radius: 20px;

          &:first-child{
            margin-left: 0rem;
          }
          img{
            height: 100%;
            width: 315px;
            border-radius: 20px;
            @include media('>mid'){
              object-fit: cover;
            };
          }
        }
      }
      &__more{
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
          margin-bottom: 0.3rem;
          margin-right: 0.3rem;
        }
      }
    }
    &__stream{
      margin: 1.5rem 0rem;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      border-radius: 0 20px 0 0;
      @include media('>mid'){
        width: 100%;
      };
      &__title{
        font-weight: bold;
        font-size: 1.3rem;
        color: white;
        padding: 0.5rem;
        background-color: #212121;
        border-radius: 0 20px 0 0;
      }
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0.3rem;
        &__card{
          border-radius: 20px;
          border: solid 1px $yellow;
          margin: 0 0 1rem 0;
          background-color: #212121;
          text-decoration: none;
          img{
            border-radius: 20px 20px 0 0;
            height: 250px;
            width: 100%;
            @include media('>mid'){
              object-fit: cover;
            };
          }
          &__title{
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 1rem;
          }
        }
      }
      &__more{
        &__link{
          color: $dark-grey;
          text-decoration: none;
          background-color: #F0FF00;
          font-weight: bold;
          font-size: 1.1rem;
          text-transform: uppercase;
          text-align: center;
          display: block;
          float: right;
          padding: 0.4rem;
          border-radius: 0 20px 0 0;
          margin-bottom: 0.3rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
}