.streams{
  min-height: 100vh;
  padding-top: 6rem;
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
    padding: 1rem 0.5rem;
    &__presentation{
      text-align: center;
      padding: 1rem 0rem;
      background-color: $dark-grey;
      display: inline-block;
      position: relative;
      -webkit-box-shadow: 5px 5px 15px 5px #212121; 
      box-shadow: 5px 5px 15px 5px #212121;
      margin: 1rem 0rem;
      &__title{
        margin: 1rem;
      }
      &__content{
        margin: 1rem;
      }
    }
    &__streambox{
      &__card{
        height: 300px;
        border: solid 1px $yellow;
        margin: 0 1rem 1rem 0;
        background-color: #212121;
      }
      @include media('>mid'){
        width: 100%;
      };
    }
  }
}