.streams{
  min-height: 100vh;
  padding-top: 5rem;
  &__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__presentation{
      text-align: center;
      display: inline-block;
      position: relative;
      margin: 1rem;
      &__title{
        margin: 1rem;
      }
      &__content{
        margin: 1rem;
      }
    }
    &__streambox{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__card{
        height: 40vh;

        width: 90%;
      }
      @include media('>mid'){
        width: 100%;
      };
    }
  }
}