/* Import fonts
@link https://fonts.google.com 
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Colors vars*/
@import './vars';

/* Components styles */
@import '../components/App/app';
@import '../components/Home/home';
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/Social/social';

/* Base */

html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
}

/* Upgrade */

*{
  box-sizing: border-box;
}